header{
    background-color: rgba(255, 221, 0, 0.91);
    color: black;
    text-align: left ;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    text-align: right;
    color: black;
}
h3{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.presentacion{
 background: beige; 
  padding: 20px;
  box-sizing: border-box;
}
.presentacion2{
    max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
   display: flex;               
  align-items: center;         
  gap: 20px;  
}
.logo{
  width: 300px; 
  height: auto;
}
.descripcion {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  flex: 1 1 auto;   
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: black;
  max-width: 800px
}
button{
    background-color: rgba(255, 221, 0, 0.91) ;
      color: black;
   margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.presentacion3{
    display: flex;               
  align-items: center;        
  gap: 20px; 
   max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}